{
  "swagger": "2.0",
  "info": {
    "description": "Teste Hammer",
    "version": "1.0.0",
    "title": "Teste Hammer",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "alcos.me",
  "basePath": "/TesteHammer/ci/api/v1",
  "tags": [
    {
      "name": "tabela",
      "description": "Retorna elementos aleatórios de número variado"
    },
    {
      "name": "formulario",
      "description": "Retorna elementos aleatórios de número variado"
    },
    {
      "name": "arquivo",
      "description": "Permite baixar arquivo"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/tabela": {
      "get": {
        "tags": [
          "tabela"
        ],
        "summary": "Gera tabela",
        "description": "",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    },
    "/formulario": {
      "post": {
        "tags": [
          "formulario"
        ],
        "summary": "Salva registros do formulário gerado",
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      },
      "get": {
        "tags": [
          "formulario"
        ],
        "summary": "Gera formulário",
        "description": "",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        }
      }
    },
    "/arquivo/{nome}": {
      "get": {
        "tags": [
          "arquivo"
        ],
        "summary": "Permite baixar arquivo",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "name": "nome",
            "description": "Nome do arquivo",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  }
}
